body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom,#2A475E, #1B2838);
}

/* Top Beam */
.top-beam {
    background-color: #232f3e;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    padding: 0 20px;
}

/* Left Beam */
.left-beam {
    background-color: #232f3e;
    width: 100px; /* Adjust the width as needed */
    height: 100%; /* Takes full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

/* Dashboard Content */
.dashboard-content {
    flex: 1;
    padding: 20px;
}

/* Add more styles as needed for your dashboard content */
