/* Search Bar Styles */
.search-bar {
    margin-top: 20px;
}

.search-bar input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-bar button {
    margin-top: 8px;
    padding: 8px;
    background-color: #fff;
    color: #171d25;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Dropdown Styles */
.sorting-dropdown {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sorting-dropdown label {
    color: white;
    margin-right: 10px;
}

.sorting-dropdown select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #171d25;
}

/* Container for Left Beam and Game List */
.left-beam {
    background-color: #171d25;
    width: 175px; /* Adjust the width as needed */
    height: 100%; /* Takes full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling for gameListTextbox */
}
/* ... Your existing styles ... */

/* Game List Styles */
.game-list {
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrolling for game list */
    max-height: calc(100vh - 160px); /* Adjust the max height as needed */
}

/* Highlight selected game */
.game-list-item.selected {
    background-color: #3399ff;
    color: #fff;
}
