/* Login Page Styles */
body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,#2A475E, #1B2838);
}

.login-box {
    background-color: #1e2a38;
    padding: 20px;
    border-radius: 0 4px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.login-box h2{
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3282b8;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #217dbb;
}