body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, #2A475E, #1B2838);
}

.top-beam {
    background-color: #171d25;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}


.recently-played-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #2A475E;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: larger;
}